# This is a basic workflow to help you get started with Actions

name: CI 
on: 
  push:
    branches: [ main ]  
  workflow_dispatch: 
jobs: 
  build: 
    runs-on: ubuntu-latest 
    steps:
    
      - name: Check Out Repo 
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: everiskev000
          password: 230fd051-c751-48c0-a2a1-e04377a1f4d4 

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: everiskev000/service-eureka-server

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
